<configuration debug="false">

    <contextName>tabletenis</contextName>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5level [%-32.32(%thread)][%-36.36(%logger{32}-%line)] %msg %xThrowable</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="tabletenis.project" level="INFO" />

</configuration>