<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
						   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
						   http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd">


    <context:annotation-config />

    <context:component-scan base-package="tabletenis.project.model"/>
    <context:component-scan base-package="tabletenis.project.frontend.ui.dataproviders"/>
    <context:component-scan base-package="tabletenis.project.frontend.ui.views"/>
    <context:component-scan base-package="tabletenis.project.frontend.ui.session"/>

    <bean class="org.springframework.beans.factory.config.CustomScopeConfigurer">
        <property name="scopes">
            <map>
                <entry key="view">
                    <bean class="tabletenis.project.frontend.ViewScope"/>
                </entry>
            </map>
        </property>
    </bean>

    <!-- Load Hibernate related configuration -->
    <import resource="hibernateContext.xml" />
</beans>